body{
    background-color: #FBF3F3;
}

.cards{
    height: 100%;
}

.cards-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 10px;

    height: 100px;
}

.cards-logo{
    height: 100px;
}

.cards-logo img{
    height: 100%;
}

.cards-button{
    width: 100px;
    height: 40px;

    border-radius: 20px;
    background-color: #F8A449;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-button:hover{
    background-color: #FB7454;
}

.cards-main{
    display: flex;
    justify-content: center;

}

.cards-select{
    width: 300px;
}