body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color1: #ffffff;
    --color2: #B8B8B8;
    --color3: #18CFAB;
    --color4: #00CBF6;
    --color5: #1C2A33;
    --color6: #F8FCFE;
    --color7: #EBEBEB;
    --color8: #717171;
    --color9: #203E38;
}
.section{
    width: 1160px;
    margin: 0 auto;
}

.heading{
    text-align: center;
    padding: 82px 0 36px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
}

.strong{
    color: var(--color3);
}

.decoration-first-line{
    width: 72px;
    height: 2px;
    background-color: var(--color3);
    margin: 0 0 5px 534px;
}

.decoration-second-line{
    width: 72px;
    height: 2px;
    background-color: var(--color3);
    margin: 0 0 70px 554px;
}

.wordpress{
height: 1012px;
background-image: url(../img/wordpress/wordpress-bg.jpg);
}

.wordpress-header{
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    margin-bottom: 164px;
}

.wordpress-header-nav{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordpress-header-nav-logo{
    display: flex;
    align-items: center;
}

.wordpress-header-nav-logo-icon{
    background-image: url(../img/wordpress/icon/wordpress-icon.png);
    height: 67px;
    width: 58px;
    font-size: 40px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    margin-right: 4px;
    color: var(--color1);
}

.wordpress-header-nav-logo-link{
    font-size: 24px;
    text-decoration: none;
    color: var(--color1);
}

.wordpress-header-nav-bar{
    display: inline-flex;
}

.wordpress-header-nav-bar-span{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
    padding: 50px 0 50px;
    display: inline-block;
    position: relative;
    color: var(--color2);
}

.wordpress-header-nav-bar-span:hover{
    color: var(--color3);
}

.wordpress-header-nav-bar-span:after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background: var(--color3);
    bottom: -4px;
}

.wordpress-header-nav-bar-span:hover:after{
    width: 100%;    
}

.wordpress-main{
    text-align: center;
    font-weight: bold;
    margin-bottom: 95px;
    color: var(--color1);
}

.wordpress-main-heading{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 31px;
}

.wordpress-main-creative{
    text-transform: uppercase;
    font-size: 69px;
    margin-bottom: 24px;
}

.wordpress-main-feature{
    font-size: 30px; 
    font-weight: normal;
}

.wordpress-btn{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.button{
    font-size: 15px;
    height: 62px;
    width: 167px;
    border-radius: 10px;
    line-height: 62px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid var(--color1);
}

.green{
    margin-right: 18px;
    color: var(--color1);
    background-color: var(--color3);
}

.blue{
    margin-right: 18px;
    color: var(--color1);
    background-color: var(--color4);
}

.rectangles{
    height: 375px;
    display: flex;
    justify-content: center;
}

.rectangle-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
}

.rectangle-theme.light{
    height: 367px;
    width: 481px;
    border-top: 8px solid var(--color3);
    background-color: var(--color5);
    color: var(--color3);
}

.rectangle-theme.dark{
    height: 367px;
    width: 481px;
    border-top: 8px solid var(--color1);
    background-color: var(--color3);
    color: var(--color1);
}

.rectangle-icon{
    margin-bottom: 48px;
}

.rectangle-icon.responsive,
.rectangle-icon.customizable{
    margin-top: 22px;
}

.services{
    height: 550px;
}

.services-tab{
    display: flex;
    text-align: center;
    line-height: 72px;
}

.services-tabs{
    width: 192px;
    height: 73px;
    background-color: var(--color6);
    border: 1px solid var(--color7);
    cursor: pointer;
}

.services-tabs.active{
    background-color: var(--color3);
}

.services-details{
    display: none;
}

.services-details.active{
    display: flex;
}

.services-details-img{
    margin: 25px 20px 0 0;
    height: 139px;
    width: 194px;
}

.services-details-text{
    margin: 25px 0 0 0;
}

.everything{
    height: 480px;
    background-image: url("../img/Sections background/section-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.everything-section{
    background-color: rgba(0, 0 , 0, 0.7);
    height: 480px;
}

.everything-heading{
    padding-top: 130px;
    margin: 0  0 35px;
    color: var(--color3);
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.everything-option{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    color: var(--color2);
}

.amazing-work {
    background-color: #f8fcfe;
}

.amazing-work-navigation {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.amazing-work-navigation-btn {
    padding: 20px;
    border: 1px solid #ebebeb;
    color: #979797;
    background-color: #ffffff;
    text-decoration: none;
}

.amazing-work-navigation-btn:hover {
    border: 1px solid var(--color3);
    color: var(--color3);
}

.amazing-work-navigation-btn.active{
    border: 1px solid var(--color3);
    color: var(--color3);
}

.amazing-work-img {
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.amazing-work-info {
    cursor:pointer;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    justify-items: center;
    position: relative ;
}

.amazing-work-info > div > div {
    position: absolute;
    display: none;
}

.amazing-work-info > div {
    position: relative;
}

.amazing-work-info > div:hover > div {
    display: block;
    border-top: 2px solid var(--color3);
}

.amazing-work-info-block{
    display: none;
}

.amazing-work-info-block-hiden-1{
    display: none;
}

.amazing-work-info-block-hiden-2{
    display: none;
}

.amazing-work-info-block.sorted{
    display: block;
}

.amazing-work-info-hide-block {
    width: 286px;
    height: 209px;
    text-align: center;
    background-color: #f8fcfe;
    display: none;
    position: absolute;
    top: 0;
}

.amazing-work-info-hide-block-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.amazing-work-info-hide-block-link-first {
    padding: 19px 20px 19px 20px;
    border-radius: 40px;
    background-color: var(--color1);
    color: var(--color3);
    border: 2px solid var(--color3);
}

.amazing-work-info-hide-block-link-first:hover {
    color: var(--color1);
    background-color: var(--color3);
}

.amazing-work-info-hide-block:hover {
    border-top: 2px solid var(--color3);
}

.amazing-work-info-hide-block-link-second {
    color: var(--color3);
    border-radius: 37px;
    margin-left: 10px;
    background-color: var(--color1);
    border: 2px solid var(--color3);
    padding: 19px 20px 19px 20px;
}

.amazing-work-info-hide-block-link-second:hover {
    color: var(--color1);
    background-color: var(--color3);
}

.amazing-work-info-hide-block-green-text {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: var(--color3);
    margin-top: 34px;
    padding-bottom: 14px;
}

.amazing-work-info-hide-block-text {
    color: rgba(138, 138, 138, 255);
}

.amazing-work-button {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 100px;
    position: relative;

}

.amazing-work-button-load {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color3);
    color: var(--color1);
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
}

.amazing-work-button-load:hover {
    box-shadow: 0 0 0 4px rgba(24, 207, 171, .5);
}

.breaking-news{
    height: 960px;
    width: 1160px;
    margin: 0 auto;
}

.breaking-news-tagline{
    text-align: center;
    margin: 82px auto 36px;
    font-size: 36px;
    font-weight: 400;
}

.breaking-news-main{
    display: flex;
    flex-wrap: wrap;
}

.breaking-news-post{
    height: 280px;
    width: 263px;
    margin: 0 27px 45px 0;
    background-color: var(--color6);
    color: #717171;
    position: relative;
}
.breaking-news-post:hover .breaking-news-post-date {
    background-color: var(--color3);
}

.breaking-news-post:hover .breaking-news-post-tagline{
    color: #0f9d58;
}

.breaking-news-post-date{
    height: 69px;
    width: 67px;
    color: var(--color1);
    background-color: var(--color9);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breaking-news-post-tagline{
    font-size: 18px;
    margin: 14px;
    font-weight: 600;
}

.breaking-news-post-admin{
    font-size: 14px;
    margin: 0 0 12px 15px;
    font-weight: 300;
}

.about {
    background-image: url("../img/Sections background/section-3.jpg");
    background-repeat: no-repeat ;
    height: 950px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.about-main.section{
position: relative;
}

.about-header {
    padding-top: 98px;
    padding-bottom: 31px;
    text-align: center;
    font-size: 40px;
    color: var(--color1);
}

.about-decoration-line {
    text-align: center;
}

.about-decoration-first-line {
    width: 72px;
    height: 2px;
    background-color: var(--color3);
    margin: 0 0 5px 534px;
}

.about-decoration-second-line {
    width: 72px;
    height: 2px;
    background-color: var(--color3);
    margin: 0 0 70px 554px;
}

.about-carousel{
    position: absolute;
    /* display: none; */
    opacity: 0;
}

.about-carousel-nav{
    top: 700px;
    position: absolute;
    left: 368px;
}

.about-carousel.icons-user.active{
    /* display: block; */
    opacity: 1;
}
.quote-image {
    content: url("../img/Forma.png");
    text-align: center;
    padding-top: 69px;
    margin: auto;
}

.quote-message {
    height: 100px;
    text-align: center;
    font-size: 19px;
    padding: 44px 0 ;
    color: #bbbbbb;
}

.speeker-name {
    color: var(--color3);
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-top: 40px;
}

.speeker-profession {
    color: #bbbbbb;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.users-photo {
    text-align: center;
    padding-top: 30px;
}

.user {
    border-radius: 35px;
    border: 2px solid var(--color3);
    box-shadow: 0 0 0 4px rgba(24, 207, 171, .5);
    zoom: 1.7;
}

.user.active{
    box-shadow: 0 0 0 4px var(--color3);
}

.carousel-list {
    height: 100px;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    padding: 1px 8px 1px 8px;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    background-color: rgba(187, 187, 187, 0);
}

.arrow-left:hover {
    background-color: var(--color3);
    color: var(--color1);
    border: 2px solid var(--color3);
}

.arrow-right {
    padding: 1px 8px 1px 8px;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    margin-left: 30px;
    background-color: rgba(187, 187, 187, 0);
}

.arrow-right:hover {
    background-color: var(--color3);
    color: var(--color1);
    border: 2px solid var(--color3);
}

.carousel-unit {
    border-radius: 33px;
    border: 2px solid var(--color3);
    box-shadow: 0 0 0 3px rgba(24, 207, 171, .5);
    margin-left: 35px;
    zoom: .7;
}

.carousel-unit.active{
    border: 2px solid var(--color3);
    box-shadow: 0 0 0 3px var(--color3);
    margin-bottom: 30px;
}

.carousel-unit:hover {
    border: 2px solid var(--color3);
    box-shadow: 0 0 0 3px var(--color3);
}

.user{
    width: 60px;
    height: 60px;
}

svg.tea {
    --secondary: #33406f;
    position: absolute;
    top: -12px;
    left: 67px;
    transform: scale(2);
    display: none;
    
  }
  svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
  }
  svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
  }
  svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
  }
  @-moz-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-webkit-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-o-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-moz-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-o-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-moz-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-o-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  .item {
    float: left;
  }